### 노트
---
Class.objects.create() 는 인스턴스를 생성한다. save()를 안해도 된다. 자동 저장.
Class() 도 인스턴스를 반환한다. 하지만 인스턴스를 생성한 후 .save()를 해줘야 한다.

add(), create(), set() 을 이용해서 relationship 을 생성한다


**Class RelatedManager** 인스턴스와 인스턴스간의 관계를 설정해주는 메소드들
> Many To Many 필드에는 bulk가 없다.

A related manager is a manger used in a  one-to-many or many-to-many related context.
This happens in two cases:
1. Many-to-one relationship(Foreign key)
2. Many-to-Many relationship (ManyToManyField)

add(*objs, bulk=True, through_defaults = None): Adds the specified model objects to the related object set. 관계를 이어줌
remove(*obj, bulk=True) : Removes the specified model objects from the related object set

clear(bulk=True): Removes all objects from te related object set. 인스턴스의 모든 관계를 끊는다
    
set(objs, bulk=True, clear=False, through_defaults=None): Replace teh set of related objects.


인스턴스.[필드명]_set.all() : 다른 필드에서 참조 하는 인스턴스를 QuerySet 형식으로 반환한다.


### Many-To-Many arguments. ManyToManyField([여기에 오는 것들])
1. ManyToManyField.related_name
2. ManyToManyField.related_query_name
3. ManyToManyField.limit_choices_to
4. ManyToManyField.Symmertrical : Many-To-Many 필드에서 자기자신을 가리킬 수 있다. 이때 ManyToMany 필드를 Symmetrical 하다고 할 수 있다.
자기 자신과 관계를 갖는것을 recursive 이라고 한다. Symmetry 를 원하지 않으면 False로 바꿔주면 된다.
5. ManyToManyField.through : ManyToMany 필드를 사용할때 장고는 자동으로 테이블을 하나 만든다. 이 테이블이 자동으로 만들어 지는것을 원하지 않고
직접 테이블을 만들고 싶을 경우 through=[모델이름]을 해주면 된다.
6. ManyToManyField.through_fields
7. ManyToManyField.db_table
8. ManyToManyField.db_constraint
9. ManyToManyField.swappable

In [31]:
from many_to_one.models import Manufacture, Car

# audi 는 self.name 때무네 R8이다.
audi = Manufacture.objects.create(name='R8') 
audi.name
# Car.manufacture must be a Manufacture instance
r81 = Car.objects.create(manufacture = audi , name = 'r81')
type(r81) # 인스턴스 타입
# Foreign key로 가리킬 모델을 만들어 놔야한다

many_to_one.models.Car

In [22]:
volksWagen = Manufacture.objects.create(name='volkswagen')
bugatti = Car.objects.create(manufacture=volksWagen, name='bugatti')

In [24]:
print(bugatti.manufacture)

volkswagen

In [1]:
from many_to_many.models import Article,Publication

In [39]:
p1 = Publication(title = 'The Python Journal') #인스턴스
p1.save()
p2 = Publication(title = 'Science News') #인스턴스
p2.save()
p3 = Publication(title = 'Science Weekly') #인스턴스
p3.save()

In [40]:
a1 = Article(headline = 'Django lets you build web apps easily') # Article 인스턴스
a1.save()

In [42]:
a1.publications.add(p1)

In [41]:
a2 = Article(headline = 'NASA uses Python') # Article 인스턴스 
a2.save()
a2.publications.add(p1,p2)
a2.publications.add(p3)

In [9]:
new_publication = a2.publications.create(title='Highlights for Children')

In [18]:
a1.publications.add(p3)

In [19]:
p4 = Publication(title = 'The Javascript Journal') #인스턴스
p4.save()

In [20]:
a1.publications.add(p4)

In [21]:
a2.publications.clear()

In [27]:
p2.article_set.all()

In [28]:
a2.publications.add(p1,p2)
a2.publications.add(p3)

In [44]:
a1.publications.all()

In [45]:
p2.article_set.all()

In [46]:
# 다른 필드에서 참조 하는 인스턴스를 QuerySet 형식으로 반환한다.
# 인스턴스.[필드명]_set.all()
# 역참조 라고 생각하면 된다.
p1.article_set.all()

In [48]:
p2.article_set.all()
p1.article_set.all()

In [49]:
a4 = Article(headline = 'NASA finds intelligent life on earth')
a4.save()
p2.article_set.add(a4) # a4.publications.add(p2) 와 동일
p2.article_set.all()
a4.publications.all()

In [5]:
from many_to_many2.models import Person, Group, Membership
from datetime import *

In [3]:
#Person 
ringo = Person.objects.create(name='ringo starr')
paul = Person.objects.create(name='paull McCartney')

In [4]:
#group
beatles = Group.objects.create(name='Beatles')

In [6]:
#Membership
m1 = Membership.objects.create(person=ringo, group=beatles, date_joined=date(1962,8,16), invite_reason ='Needed a new Drummer')

In [9]:
beatles.members.all()

In [10]:
m2 = Membership.objects.create(person=paul, group=beatles, date_joined=date(1960,8,1), invite_reason ='Wanted to form a band')

In [11]:
beatles.members.all()